@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  background-color: #ffffff;
  /* flex-direction: column; */
  justify-content: space-between;
}

.logo {
  width: 50%;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
}

.botoes__nav {
  width: 50%;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

nav>ul {
  width: 100%;
  display: flex;
  list-style: none;
}

nav>ul>li {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}

nav>ul>li>a {
  color: #000000;
  text-decoration: none;
}

nav>ul>li>a:hover {
  color: #e51b3e;
  transform: scale(1.1);
  text-decoration: none;
  font-weight: bold;
}

.banner {
  height: 95vh;
  background-image: url("../img/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
}

h1 {
  color: #e51b3e;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
}

.banner>h3 {
  font-size: 1.33rem;
  color: #ffffff;
  font-weight: 400;
}

.botaoExplorar {
  margin-top: 2%;
  width: 322px;
  height: 71px;
  border-radius: 12px;
  background-color: rgba(51, 187, 105, 0.05);
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #33bb69;
}

.botaoExplorar>a {
  color: #ffffff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.container__itens {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-weight: 900;
  font-size: 3.5rem;
}

.cards {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 1.1%;
}

.card__capa {
  height: 50%;
  background-image: url("../img/capaCard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__info {
  padding: 1%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgba(244, 244, 244, 1);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.card__info>h4 {
  display: flex;
  align-self: flex-start;
  margin-left: 2%;
}

.card__info>h5 {
  font-weight: 400;
  display: flex;
  align-self: flex-start;
  margin-left: 2%;
}

.botao__abrir {
  background-color: rgba(51, 187, 105, 1);
  width: 342px;
  height: 59.3px;
  display: flex;
  border-radius: 12px;
  font-weight: 400;
  padding: 2%;
  align-self: center;
  margin-top: 15%;
}

.cards>.card__info {
  padding: 2%;
}

.cards>.card__info>.botao__abrir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao__abrir>a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

footer {
  width: 100%;
  height: 30vh;
  background-color: #171717;
  color: #ffffff;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2%;
  text-align: center;
  height: 50%;
}

.infoAluno {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1.5rem;
}

.anoDesenvolvimento {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 50%;
}

.infoDesenvolvimento {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.network {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.network a img {
  transform: scale(1.5);
}

@media (max-width: 414px) {
  /*smartphone*/

  html {
    font-size: 16px;
  }

  header {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    height: 100px;
    align-items: center;

  }

  .banner h3 {
    font-size: 0.9rem;
    text-align: center;
    padding: 5%;
  }

  .container__itens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

  }

  .cards {
    width: 85%;
  }

  .botao__abrir {
    width: 70%;
  }

  footer {
    height: 90vh;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoAluno {
    font-size: 0.9rem;
    margin-bottom: 5%;
    padding: 5%;
  }
  
  .network {
    gap: 50%;
  }

  .nome {
    font-size: 1.3rem;
  }

  .infoDesenvolvimento {
    font-size: 0.7rem;
  }

  .anoDesenvolvimento {
    font-size: 0.8rem ;
  }



}